.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 100px) and (min-height: 700px){
    .Burger {
        width: 450px;
        height: 400px;
    }
}

